.favouritePostsModal{
    position: absolute;
    top: 10%;
    left: 12%;
    background-color: whitesmoke;
    min-height: 50%;
    max-height: 80%;
    overflow-y: auto;
    width: 70%;
    overflow: 'auto';
    display: flex;
    flex-direction: column;
    align-items: left;
    outline: none;
}

.favouritesWrapper{
    margin-left: 25%;
}

.noFavouritePosts{
    color: red;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    margin-top: 20%;
}