.post{
    width: auto;
    max-width: 65%;
    min-width: 40%;
    border-radius: 10px;
    -webkit-box-shadow: 5px 5px 30px 6px #000000; 
    box-shadow: 5px 5px 30px 6px #000000;
    margin-top: 40px;
}

.postWrapper{
    padding: 10px;
}

.postTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.postProfileImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
}

.postImg{
    margin-top: 20px;
    width: 100%;
    max-height: 500px;
    object-fit: contain;
}

.postTopLeft{
    display: flex;
    align-items: center;
}

.postUsername{
    font-size: 15px;
    font-weight: bold;
    margin: 0 10px;
}

.postDate{
    font-size: 12px;
    font-weight: bold;
    color: gray;
}

.postCenter{
    margin-top: 20px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.postText{
    margin-left: 1%;
}

.postTag{
    margin-left: 1%;
}

.postBottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5px;
}

.postBottomLeft{
    display: flex;
    align-items: center;
}

.likeIcon{
    width: 24px;
    height: 24px;
    margin-right: 5px;
    cursor: pointer;
}

.postLikeCounter{
    font-size: 15px;
}

.postCommentText{
    cursor: pointer;
    border-bottom: 1px dashed gray;
    font-size: 15px;
}

.postLocation{
    color: green;
    font-weight: bold;
}