.viewDislikedPostsModal{
    position: absolute;
    top: 10%;
    left: 20%;
    margin-top: -50px;
    overflow-y: auto;
    width: 50%;
    height: 95%;
    background-color: white;
    outline: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: ridge;
}

.likedPostsWrapper{
    margin-left: 30%;
    width: 100%;
}
