.feed{
    flex: 7;
    width: 70%;
    justify-content: center;
    align-items: center;
}

.feedWrapper{
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.shareDiv{
    justify-content: center;
    align-items: center;
}

.posts{
    margin-left: 25%;
}