.userInformationModal {
    position: absolute;
    top: 5%;
    left: 38%;
    background-color: lightgray;
    height: 90vh;
    overflow-y: auto;
    width: 350px;
    overflow: 'auto';
    padding: '20px';
    align-items: center;
    font-family: "Trebuchet MS", sans-serif;
}

.userInfoTop{
    height: 90%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.userInfoBottom{
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

.userInfo1{
    width: 70%;
    margin-top: 5%;
    height: 20px;
    font-size: 15px;
    text-align: center;
}

.userInfo1:focus {
    outline: none;
}

.data {
    margin-top: 10px;
}

.userDescription {
    font-size: 15px;
}

.userDescription:focus {
    outline: none;
}

.saveChanges{
    margin: 0px;
    color: green;
    margin-top: 5px;
    height: 40px;
    width: 200px;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: bold;
    padding: 10px;
    display: inline-block;
    text-align: center;
    background-color: #42b72a;
    cursor: pointer;
}